<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookMark">
	<insert id="insertBookMark" parameterType="com.mycafe.myweb.user.model.vo.BookMarkCafe">
		INSERT INTO BOOKMARK_CAFE VALUES(BC_NO_SEQ.NEXTVAL,#{member_no},#{cafe_no})
		
	</insert>
	<select id="selectBookMark" resultType="com.mycafe.myweb.user.model.vo.BookMarkCafe">
		SELECT *FROM BOOKMARK_CAFE WHERE MEMBER_NO=#{member_no} AND CAFE_NO=#{cafe_no}
	</select>

</mapper>