<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<insert id="insertUser" parameterType="map">
		INSERT INTO MEMBER_TB (MEMBER_NO,MEMBER_ID,PASSWORD,ADDRESS,PHONE,USERNAME) 
		VALUES(MEMBER_NO_SEQ.NEXTVAL,#{userId},#{userPw},#{address},#{phone},#{userName},#{zipcode},#{address2})
	</insert>
	<select id="checkId" parameterType="String" resultType="com.mycafe.myweb.user.model.vo.JoinUser">
			SELECT *FROM MEMBER_TB WHERE MEMBER_ID=#{id}
	</select>
	<select id="selectUser" parameterType="String" resultType="com.mycafe.myweb.user.model.vo.JoinUser">
		SELECT * FROM MEMBER_TB WHERE MEMBER_ID=#{id}
	</select>
	<select id="selectAdmin" resultType="String">
		SELECT MEMBER_ID FROM MEMBER_TB WHERE MEMBER_NO=82
	</select>
	<select id="selectByNo" parameterType="_int" resultType="com.mycafe.myweb.user.model.vo.JoinUser">
		SELECT * FROM MEMBER_TB WHERE MEMBER_NO=#{memberNo}
	</select>
</mapper>